Makefile
Makefile.*
ac*.m4
autom4te.cache/*
build/*
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.ac
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
run-tests.php
tests/perl*.diff
tests/perl*.exp
tests/perl*.log
tests/perl*.out
tests/perl*.php
tests/perl*.sh
.libs/*
modules/*
perl.la
php_perl.lo
